# Next.js build output
.next/
out/

# Node modules
node_modules/

# Env files
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS
.DS_Store

# Editor junk
.vscode/
.idea/

# Build cache
dist/
.cache/
.vercel/

# TS Info
*.tsbuildinfo

# Block large binary droplets
*.swc
